.settingContent>div{
	width: 100%;
	height: 7vh;
	background: #fefefe;
}


.settingContent>div:nth-child(2),.settingContent>div:nth-child(4),.settingContent>div:nth-child(8){
	margin-top: .8rem;
}
.settingContent>div:nth-child(3),.settingContent>div:nth-child(5){
	margin-bottom: .8rem;
}

.settingContent>div:nth-child(2n+2) .layout{
	border-bottom: 1px solid rgba(22,22,22,.2);
}
.settingContent>div:nth-child(8) .layout{
	border: none;
}


.layout{
	width: 95%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.settingContent p{
	font-size: 1rem;
	color: rgba(23,12,41,.7);
}

.settingContent p i{
	color: rgba(23,12,41,.4);
	font-size: .8rem;
}
.settingContent>div:nth-child(8) .layout{
	justify-content: center;
	
}
.settingContent>div:nth-child(8) .layout p{
	color: rgba(215,22,22,.8)
}
.settingTitle .layout:first-child{
	display: block;
	position: relative;
}
.settingTitle .layout:first-child p:nth-child(2){
	position: absolute;
	top: 50%;
	margin-top: -0.8rem;
	transform: rotateZ(180deg);
	-webkit-transform: rotateZ(180deg);
	-moz-transform: rotateZ(180deg);
}

.settingTitle .layout:first-child p:nth-child(2) i{
	font-size: 1.2rem;
}

.settingTitle .layout:first-child p:nth-child(1){
	text-align: center;
	font-size: 1.2rem;
	line-height: 7vh
}