.settingContent>div,.SettingPage .userAction{
	width: 100%;
	height: 7vh;
	background: #fefefe;
	position: relative;
}



.settingContent>div:nth-child(2),.settingContent>div:nth-child(4),.settingContent>div:nth-child(8){
	margin-top: .8rem;
}
.settingContent>div:nth-child(3),.settingContent>div:nth-child(5){
	margin-bottom: .8rem;
}

.settingContent>div:nth-child(2n+2) .layout{
	border-bottom: 1px solid rgba(22,22,22,.2);
}
.settingContent>div:nth-child(8) .layout{
	border: none;
}


.layout{
	width: 95%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.settingContent p{
	font-size: 1rem;
	color: rgba(23,12,41,.7);
}

.settingContent p a{
	text-decoration: none;
	color: rgba(23,12,41,.7);
}

.settingContent p i{
	color: rgba(23,12,41,.4);
	font-size: .8rem;
}
.settingContent>div:nth-child(8) .layout{
	justify-content: center;
	
}
.settingContent>div:nth-child(8) .layout p a{
	color: rgba(215,22,22,.8);
	text-decoration: none
}
.settingTitle .layout:first-child{
	display: block;
	position: relative;
}
.settingTitle .layout:first-child p:nth-child(2),.SettingPage .userAction p:nth-child(1) a{
	position: absolute;
	top: 50%;
	margin-top: -0.8rem;
	transform: rotateZ(180deg);
	-webkit-transform: rotateZ(180deg);
	-moz-transform: rotateZ(180deg);
}

.SettingPage .userAction p:nth-child(1) a{
	margin-top: -1.5rem;
	margin-left: .5rem;
	left: 0;
	text-decoration: none;
	color: rgba(23,12,41,.4);
}


.settingTitle .layout:first-child p:nth-child(2) i{
	font-size: 1.2rem;
}

.settingTitle .layout:first-child p:nth-child(2) p{
	width: 50px;
	height: 100%
}

.settingTitle .layout:first-child p:nth-child(1),.SettingPage .userAction p{
	text-align: center;
	font-size: 1.2rem;
	line-height: 7vh;
	color: rgba(23,12,41,.4);
}

.SettingPage{
	width: 100%;
	height: 100vh;
	background: #f7f7f9;
}

.SettingPage .userAction p{
	font-size: 1.0rem
}