#cityName{
	width: 100%;
	list-style: none;
	background: #fafafa;
	position: relative;
}



#cityName li .cityItems{
	width: 100%;
	line-height: 2rem;
	font-size: .8rem;
	text-indent: 1rem;
	color: #ccc;
}

#cityName li ul{
	background: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 1rem ;
}

#cityName li ul li{
	width: 33.33%;
	margin-top: 1rem;
	float: left;
	list-style: none;
	text-align: center;
}

#cityName li ul li p{
	width: 75%;
	height: 2rem;
	display: inline-block;
	text-align: center;
	line-height: 2rem;
	font-size: .8rem;
	border: 1px solid rgba(22,22,22,.2);
	border-radius: 15px;
}

#cityName .sildeCode {
	top: 5vh;
	position: fixed;
	right: 0;
	width: 1rem;
	height: 90vh;
	overflow: hidden;
	opacity: 0;
	transition: opacity 0.35s ease-in
}

#cityName .sildeCode ul{
	height: 100%;
}

#cityName .sildeCode ul li{
	font-size: .7rem;
	height: 3.9%;
	color: rgba(0,0,0,.2);
}
