.dayMsg{
	height: 15vh;
	background: rgba(0,0,0,.4);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow-x: scroll
}

.dayMsg li{
	list-style: none;
	padding: 0px 20px;
}

.dayMsg li i{
	font-size: 3rem;
}
.dayTmp{
	width: 100%;
	overflow-x:scroll 
}
.weatherIcon p:last-of-type{
	font-size: 1rem
}