.searchPage .searchBar{
	width: 100%;
	height: 30vh;
	background: url(https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3664485651,540016694&fm=26&gp=0.jpg) no-repeat;
	background-size: cover;
	text-align: center;
	
}

.searchPage{
	position: relative;
}

.searchPage input{
	width: 70%;
	height: 5vh;
	border-radius: 15px;
	outline: none;
	border: none;
	display: inline-block;
	margin-top: 1.5vh;
	text-align: center;
	padding-left: 1rem;
}

.searchPage #getString{
	width: 100%;
	height: 70vh;
	position: absolute;
	z-index: 5;
	
}

#overflow{
	overflow: hidden;
}

.searchPage #getString .result p{
	line-height: 2rem;
	height: 6%;
	font-size: .8rem;
	color: #ccc;
	padding-left: 1rem;
	background: #fafafa;
}

.searchPage #getString .resultTown{
	height: 94%;
	background: #fff;
	overflow: scroll;
	padding-bottom: 1rem
}
