.searchPage input{
	width: 80%;
	height: 7vh;
	display: inline-block;
	outline: none;
	text-indent: 2rem;
	font-size: 1.5rem;
	border-radius: 5px;
	background: rgba(255,255,255,.4);
	border: none;
}

.searchPage #getString{
	width: 100%;
	height: 93vh;
	overflow-y: scroll
}

.searchPage #getString li{
	width: 100%;
	height: 7vh;
	text-align: center;
	font-size: 1.2rem;
	background: rgba(255,255,255,.6);
	line-height: 7vh;
	cursor: pointer;
}
