.userAction{
	width:100%;
	height:100vh;
	overflow: auto;
	background: rgba(0,0,0,.3);
	position: relative;
}

.userAction .ReturnBack{
	width: 100%;
	height: 7vh;
	background: rgba(251,244,242,0.6);
	box-shadow: 0 0 5px rgb(211,211,211);
	position: fixed;
	top: 0;
}

.userAction .ReturnBack p:first-child{
	position: absolute;
	line-height: 7vh;
	left: 5%;
	transform: rotateZ(180deg);
	-webkit-transform: rotateZ(180deg);
	-moz-transform: rotateZ(180deg);
}
.userAction .ReturnBack p:first-child a{
	text-decoration: none;
	color: rgba(25,25,25,0.7);
}

.userAction .ReturnBack p:first-child a i{
	font-size: 1.5rem;
}

.userAction .ReturnBack p:nth-child(2){
	text-align: center;
	font-size: 1.1rem;
	color: rgba(25,25,25,0.7);
	line-height: 7vh;
}

.userAction .suggestionPage{
	margin-top: 8.5vh;
	margin-left: 15%;
	width: 85%;
}

.userAction .suggestionPage .weatherList>p:first-child i{
	font-size: 2rem;
	color: #fdca22;
}


.userAction .suggestionPage .weatherList p{
	font-size: .6rem;
	color: rgba(255,255,255,.8);
	font-weight: 200;
}

.userAction .suggestionPage .weatherList .weatherListTitle{
	width: 80%;
	height: 3rem;
}

.userAction .suggestionPage .weatherList .weatherListTitle p,
.userAction .suggestionPage .airBox p,
.userAction .suggestionPage .todayBox p{
	display: inline-block;
	line-height: 3rem;
	margin-right: 0.5rem;
}

.userAction .suggestionPage .todayBox .todayTitle p i{
	font-size: 1.05rem;
}

.userAction .suggestionPage .airBox p i,
.userAction .suggestionPage .todayBox p i{
	position: relative;
	top: 2px;
}

.userAction .suggestionPage .weatherList .weatherItems,
.userAction .suggestionPage .airBox .airSuggest{
	width: 95%;
	margin-left: 2%;
	border-left: 3px solid #ccc;
	padding-left: 0.2rem;
	padding-bottom: 1rem;
	padding-top: 0.2rem;
}

.userAction .suggestionPage .airBox .airSuggest .airNumber p{
	width: 30%;
	text-align: center;
	line-height: 1.5rem;
}
.userAction .suggestionPage .weatherList .weatherItems p{
	font-size: 0.6rem;
	display: inline-block;
	line-height: 1.6rem;
}

.userAction .suggestionPage .weatherList .weatherItems p:nth-child(2n+1){
	width: 54%;
}

.userAction .suggestionPage .weatherList .weatherListTitle p:last-of-type{
	padding: 0 .6rem;
	line-height: 1.2rem;
	background: #ff8230;
	border-radius: 4px;
}


.userAction .suggestionPage .weatherList .weatherItems p .iconfont.xibei::after{
	content: '\e616';
	display: inline-block;
	clear: both;
}

.userAction .suggestionPage .weatherList .weatherItems p .iconfont.bei::after{
	content: '\e613';
	display: inline-block;
	clear: both;
}
.userAction .suggestionPage .weatherList .weatherItems p .iconfont.dongbei::after{
	content: '\e614';
	display: inline-block;
	clear: both;
}
.userAction .suggestionPage .weatherList .weatherItems p .iconfont.dongnan::after{
	content: '\e617';
	display: inline-block;
	clear: both;
}
.userAction .suggestionPage .weatherList .weatherItems p .iconfont.xinan::after{
	content: '\e60f';
	display: inline-block;
	clear: both;
}
.userAction .suggestionPage .weatherList .weatherItems p .iconfont.xi::after{
	content: '\e60e';
	display: inline-block;
	clear: both;
}
.userAction .suggestionPage .weatherList .weatherItems p .iconfont.dong::after{
	content: '\e610';
	display: inline-block;
	clear: both;
}
.userAction .suggestionPage .weatherList .weatherItems p .iconfont.nan::after{
	content: '\e612';
	display: inline-block;
	clear: both;
}
.userAction .suggestionPage .airBox .airTitle p .iconfont.good::after{
	content: '\e668';
	display: inline-block;
	clear: both;
}
.userAction .suggestionPage .airBox .airTitle p .iconfont.bad::after{
	content: '\e647';
	display: inline-block;
	clear: both;
}