.titleText{
	position: absolute;
	width: 100%;
	margin-top: 3rem;
	text-align: center;
	color: #fff;
	
}

.titleText span{
	margin-left: 4px;
}

.titleText p{
	text-align: center;
	font-size: 3rem;
	font-weight: 100;
}

.titleText p:nth-child(2){
	font-size: 1.9rem;
	margin-top: -0.5rem;
	margin-left: -0.8rem
}